{% extends "base.html" %}
{% block title %}话题详情{% endblock %}
{% block main %}

<div id="main">
    <div id="sidebar">
        {% from 'utils.html' import sidebar_info %}
        {{ sidebar_info(user='route_topic.detail',topic=topic) }}
    </div>
    <div id="content">
        <div class='panel'>
            <div class='header topic_header'>
        <span class="topic_full_title">
			{{ topic.title }}
      	</span>
                <div class="changes">
            <span>
                发布于 {{ topic.created_time | format_time }}
            </span>
                    <span><a class="user_avatar" href="{{ url_for('personal.index', id=topic.user().id) }}">
                作者 {{ topic.user().username }}</a>
                {# 作者 {{ User.one(id=topic.user_id).username }} #}
        	</span>
                    <span>
          	    {{ topic.views }} 次浏览
        	</span>
                    <span>
                来自 {{ topic.get_board().title }}
            </span>
                </div>
            </div>

            <div class='inner topic'>
                <div class='topic_content'>
                    <div class="markdown-text">{{ topic.content }}</div>
                </div>
            </div>
            <div class="cell">
                <div class="changes">
                    <span>
                        最后修改于 {{ topic.updated_time | format_time }}
                    </span>
                </div>
                <div class='user_action'>
                    {% if (topic.user_id == user.id) or (user.id == 1) %}
                    <a href="{{ url_for('route_topic.edit', id=topic.id, token=token) }}">
                        <span class="span-primary submit_btn">编辑话题</span>
                    </a>
                    <a href="{{ url_for('route_topic.delete', id=topic.id, token=token) }}">
                        <span class="span-primary submit_btn" style="background-color: #da4f49">删除话题</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="content">
    <div class='panel'>
        <div class='header'>
            <span class='col_fade'>
                <!-- 过滤器 -->
                {{ topic.replies() | count }} 回复
            </span>
        </div>
        {% for r in topic.replies() %}
        {# for i, r in enumerate(topic.replies())  #}
            {% set u = r.user() %}
            <div class='cell reply_area reply_item'>
                <div class='user_info'>
                    <a class="user_avatar pull-left" href="{{ url_for('personal.index', id=u.id) }}">
                                <img src="{{ u.image }}"
                                     title="{{ u.username }}">
                    </a>
                    <a class='dark reply_author'>
                        {{ u.username }}
                    </a>
                    <a class="reply_time">
                        {{ loop.index }}楼 / {{ loop.length }}楼 •
                        <span >{{ r.created_time | format_time }}</span>
                    </a>
                </div>
                <div class='user_action'>
                    {% if r.user_id == user.id %}
                        <a href="{{ url_for('route_reply.delete', reply_id=r.id, topic_id=topic.id, token=token) }}">
                    <span class="span-primary submit_btn" style="font-size:8px">删除评论</span>
                        </a>
                    {% endif %}
                </div>
                <div class='reply_content'>
                    <div class="markdown-text">{{ r.content }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>

    <div id="content">
    <div class='panel'>
        <div class='header'>
            <span class='col_fade'>添加回复</span>
        </div>

        <div class='inner reply'>
        <form id='reply_form' action="{{ url_for('route_reply.add', token=token) }}" method="post">
            <input type="hidden" name="topic_id" value="{{ topic.id }}">
            <textarea class='editor' name="content" rows='8' required></textarea>
            <div class='editor_buttons'>
                <input class='span-primary submit_btn' type="submit" data-loading-text="回复中.." value="回复">
            </div>
        </form>
        </div>
    </div>
    </div>
</div>

<link href="//cdn.bootcss.com/prism/1.8.0/themes/prism.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/marked/0.3.19/marked.min.js"></script>
<script src="https://cdn.bootcss.com/prism/1.13.0/prism.js"></script>
<script src="https://cdn.bootcss.com/prism/1.13.0/plugins/autoloader/prism-autoloader.min.js"></script>
{#<scirp src="xxx.js"></scirp>#}
<script>
    var e = function (sel) {
        return document.querySelector(sel)
    }

    var es = function (sel) {
        return document.querySelectorAll(sel)
    }

    var markContents = function () {
        // markdown -> html 的处理放在高亮前面
        // 因为高亮是针对 html 格式的
        // lang -> language 不需要转 prism 自动转了
        var contentDivs = es('.markdown-text')
        for (var i = 0; i < contentDivs.length; i++) {
            var contentDiv = contentDivs[i]
            console.log('pre marked', contentDiv.textContent, contentDiv.innerHTML)
            var content = marked(contentDiv.textContent)
            console.log('after marked', content)
            contentDiv.innerHTML = content
        }
    }

    var highlight = function () {
        // 自动加载对应的语言 不然要手动加入各个语言的 js
        Prism.plugins.autoloader.languages_path = 'https://cdn.bootcss.com/prism/1.13.0/components/'
    }

    var __main = function () {
        markContents()
        highlight()
    }

    __main()

</script>
    <script>
        (function () {
            var editor = new Editor();
            editor.render($('.editor')[0]);
        })();

    </script>

{% endblock %}
